# Database
DATABASE_URL="postgresql://postgres.qoxmibmbyjmkntzrckyr:[YOUR-PASSWORD]@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.qoxmibmbyjmkntzrckyr.supabase.co:5432/postgres"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://qoxmibmbyjmkntzrckyr.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"

# Next Auth
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
